/* =Typography
-----------------------------------------------------------------------------*/
body {
}

/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/
#page {
	max-width: 940px;
	padding: 0 10px;
	margin: 24px auto;
}


/* =Header
-----------------------------------------------------------------------------*/


/* =Nav
-----------------------------------------------------------------------------*/

/* Errors and Success */
.errorlist {
  color: #da3e5a;
}

/* =Misc
-----------------------------------------------------------------------------*/

/* =Footer
-----------------------------------------------------------------------------*/
#django {
  float: right;
  border: none;
}
